.span_container {
    text-align: center;
}

#unrate_color,
#rate_color {
    border-radius: 20px;
}

.black {
    background-color: #000000;
}

.pink {
    background-color: rgb(250, 2, 209);
}

.green {
    background-color: green;
}